#bottom-jumbo {
    font-family: 'Roboto', sans-serif;
}
.slogan {
    height: 720px;
    width: 100%;
    background: url(../img/slogan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slogan h1 {
    font-size: 150px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}
.slogan h1 span {
    color: #44E944;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .slogan h1 {
        font-size: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .slogan h1 {
        font-size: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .slogan h1 {
        font-size: 60px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .slogan h1 {
        font-size: 80px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .slogan h1 {
        font-size: 100px;
    }
}
@media only screen and (min-width: 1900px) {
    .slogan h1 {
        font-size: 150px;
    }
}